WebApplication2/src/conf/xml-resources/web-service-references/NewWebService_1/wsdl/localhost_8080/WebApplication1/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://myservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://myservice.com/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://myservice.com/" schemaLocation="http://localhost:8080/WebApplication1/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="first">
<part name="parameters" element="tns:first"/>
</message>
<message name="firstResponse">
<part name="parameters" element="tns:firstResponse"/>
</message>
<message name="last">
<part name="parameters" element="tns:last"/>
</message>
<message name="lastResponse">
<part name="parameters" element="tns:lastResponse"/>
</message>
<message name="email">
<part name="parameters" element="tns:email"/>
</message>
<message name="emailResponse">
<part name="parameters" element="tns:emailResponse"/>
</message>
<portType name="NewWebService">
<operation name="first">
<input wsam:Action="http://myservice.com/NewWebService/firstRequest" message="tns:first"/>
<output wsam:Action="http://myservice.com/NewWebService/firstResponse" message="tns:firstResponse"/>
</operation>
<operation name="last">
<input wsam:Action="http://myservice.com/NewWebService/lastRequest" message="tns:last"/>
<output wsam:Action="http://myservice.com/NewWebService/lastResponse" message="tns:lastResponse"/>
</operation>
<operation name="email">
<input wsam:Action="http://myservice.com/NewWebService/emailRequest" message="tns:email"/>
<output wsam:Action="http://myservice.com/NewWebService/emailResponse" message="tns:emailResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="first">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="last">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="email">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/WebApplication1/NewWebService"/>
</port>
</service>
</definitions>